.blue-button:focus, .white-button:focus {
  outline: 4px solid #E9EAFD;
  border-radius: 4px;
}

.blue-button:hover, .blue-button:focus {
  background-color: #3730A3;
}

.white-button:hover, .white-button:focus {
  background-color: #FAFAFA;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 16px;
  border-radius: 4px;
  background-color: #F0F0F0;
  height: calc(100% - 32px);
  padding: 48px 12px;
  gap: 48px;
}

.hero__message {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.hero header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero__buttons {
  display: flex;
  gap: 16px;
}

.hero img {
  padding: 32px 0px;
}

@media screen and (width > 768px) {
  .hero__message {
    gap: 64px;
  }

  .hero {
    border-radius: 6px;
  }
}

@media screen and (width >= 1280px) {
  .hero {
    flex-direction: row;
    gap: 32px;
    padding: 96px;
  }
}